@font-face {
    font-family: 'Poppins';
    src: url(Poppins-Regular.woff2);
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

img{
    border-radius: 20px;
}

a{
    text-decoration: none;
}